/* Global fixes */
body.with-modals {
  background: #282c37;
}
.status__prepend {
  background-color: transparent !important;
}
.columns-area--mobile .scrollable {
  overflow-y: scroll;
}
.status__action-bar-button.fa-language {
  line-height: 24px !important;
}


/* Based on https://github.com/koyuspace/styles/blob/master/gettingstarted.scss */
.getting-started__footer p:after {
  content: "This instance has been customized and changes can be reviewed on GitHub at im-in-space/mastodon. If you have issues, feel free to contact kdy@im-in-space.";
  display: block;
  margin-top: 1em;
}


/* Ported from https://github.com/koyuspace/styles/blob/master/stickers.scss */
/*
.status__content .emojione:not([alt^=":sticker_"]) {
  width: 32px !important;
  height: 32px !important;
  margin-top: 0px;
}
*/
img[alt^=":sticker_"] {
  width: 128px !important;
  height: 128px !important;
  display: block;
  margin: 0 auto !important;
}
div.emoji-mart-category > span[title^=":sticker_"] > span {
  width: 120px !important;
  height: 120px !important;
}
.emoji-mart-emoji[title^=":sticker_"]:hover::before {
  border-radius: 10px !important;
}
span.reactions-bar__item__emoji > img[alt^=":sticker_"] {
  width: 16px !important;
  height: 16px !important;
}
.status__content .emojione:not([alt^=":sticker_"]) {
  padding: 3px;
  margin: -3px -3px -3px -3px;
}

/* Color some status */
.status[data-status-by="@kdy"] {
  box-shadow: inset 0 40px 40px 0 rgba(233, 30, 99, 20%);
}
.status[data-status-by^="@status"] {
  box-shadow: inset 0 40px 40px 0 rgba(255, 165, 31, 20%);
}


/* Based on https://git.is-cute.ml/erin/dot-files/src/branch/main/configs/custom-mastodon.css
   Hashtag Gradients 
   The basis for this code comes from @AgathaSorceress@eldritch.cafe */
/* trans */
a.hashtag[href*="tags/trans" i]:hover {
  text-decoration: underline;
}
.hashtag[href*="tags/trans" i] span {
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #e67bda, #FFF, #55a9e3);
  color: transparent;
}

/* aggie */
a.hashtag[href*="tags/agatha" i]:hover {
  text-decoration: underline;
}
.hashtag[href*="tags/agatha" i] span {
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #a887ea, #f7a8b8);
  color: transparent;
}
a.hashtag[href*="tags/aggie" i]:hover {
  text-decoration: underline;
}
.hashtag[href*="tags/aggie" i] span {
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #a887ea, #f7a8b8);
  color: transparent;
}

/* bi */
a.hashtag[href*="tags/bi" i]:hover {
  text-decoration: underline;
}
.hashtag[href*="tags/bi" i] span {
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #d70071, #9C4E97, #0035aa);
  color: transparent;
}

/* enby */
a.hashtag[href*="tags/enby" i]:hover {
  text-decoration: underline;
}
.hashtag[href*="tags/enby" i] span {
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #fbf539, #fcfbfc, #9D59D2, #2C2C2C);
  color: transparent;
}
a.hashtag[href*="tags/nonbinary" i]:hover {
  text-decoration: underline;
}
.hashtag[href*="tags/nonbinary" i] span {
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #fbf539, #fcfbfc, #9D59D2, #2C2C2C);
  color: transparent;
}

/* pan */
a.hashtag[href*="tags/pan" i]:hover {
  text-decoration: underline;
}
.hashtag[href*="tags/pan" i] span {
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #FD208A, #FFD600, #22AFFE);
  color: transparent;
}

/* ace */
a.hashtag[href*="tags/ace" i]:hover {
  text-decoration: underline;
}
.hashtag[href*="tags/ace" i] span {
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #191717, #857E78, #FFFEFF, #7D2A7A);
  color: transparent;
}
a.hashtag[href*="tags/asexual" i]:hover {
  text-decoration: underline;
}
.hashtag[href*="tags/asexual" i] span {
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #191717, #857E78, #FFFEFF, #7D2A7A);
  color: transparent;
}

/* aro */
a.hashtag[href*="tags/aro" i]:hover {
  text-decoration: underline;
}
.hashtag[href*="tags/aro" i] span {
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(90deg, #39A741, #A8D47A, #FCFCF9, #A9A9A9, #000000);
  color: transparent;
}



/* Make it harder to download audio from public pages */
.public-layout .audio-player .video-player__buttons.right,
body.player .audio-player .video-player__buttons.right {
  display: none;
}


/* Rotating space core */
.spacecore {
  -webkit-animation: rotateCore 15s linear infinite;
  animation: rotateCore 15s linear infinite;
  background: url(https://im-in.space/system/site_uploads/files/000/000/002/original/spacecore-mascot.png) no-repeat;
  background-size: cover;
  height: 150px;
  margin: 15px auto 30px;
  width: 150px;
}
@keyframes rotateCore {
  0% {
    transform: rotate(0deg);
  }

  20% {
    transform: rotate(20deg);
  }

  40% {
    transform: rotate(100deg);
  }

  60% {
    transform: rotate(220deg);
  }

  80% {
    transform: rotate(300deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
